Repository TheHappyKoala/Harmony-of-the-Spheres: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

feat: add method for diffing integrator with manifestation masses
  src/scene/manifestations/index.ts
Due: prettier --write, tsc --noEmit

feat: diff integrator and manifestation masses in the planetary scene
  src/scene/manifestations/manifestation.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: implement collisions
  src/physics/collisions/collisions-check.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add state to kepler method written by hugo granstrom
  src/physics/utils/elements.ts
Due: prettier --write, tsc --noEmit

feat: add kepler to state method written by Hugo Grandstrom
  src/physics/utils/elements.ts
Due: prettier --write, tsc --noEmit

feat: add construct soi tree method written by Hugo Grandstrom
  src/physics/utils/elements.ts
Due: prettier --write, tsc --noEmit

feat: fix particles bug
  src/scene/particles/particles.ts
Due: prettier --write, tsc --noEmit

feat: add elements type
  src/types/physics.ts
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: add rotated position type to scenario mass type
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: add rotated position and elements to all masses
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: tighten up type checking
  tsconfig.json
Due: none

feat: add ellipse curve class
  src/scene/misc/ellipse-curve.ts
Due: prettier --write, tsc --noEmit

feat: add orbits
  src/physics/utils/elements.ts
  src/physics/utils/misc.ts
  src/scene/manifestations/manifestation.ts
  src/scene/misc/ellipse-curve.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: improve disposal of ellipse curve
  src/scene/misc/ellipse-curve.ts
Due: prettier --write, tsc --noEmit

feat: improve typings for the planetary scene module
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: simplify the modify scenario property action creator
  src/components/camera-controls/index.tsx
  src/scene/scenes/planetary-scene.ts
  src/state/creators.ts
  src/templates/planetary-scenario.tsx
Due: prettier --write, tsc --noEmit

feat: cast and use non null operator less
  src/physics/integrators/euler.ts
  src/physics/integrators/rk4.ts
  src/scene/manifestations/index.ts
  src/scene/manifestations/manifestation.ts
  src/scene/particles/particles.ts
  tsconfig.json
Due: prettier --write, tsc --noEmit

feat: tweak some scenarios
  src/scenarios/choreographies-figure-eight.json
  src/scenarios/earth-vs-rings-of-saturn.json
  src/scenarios/solar-system-moons-earth-moon-system.json
  src/scenarios/solar-system-planets.json
Due: none

feat: update readme
  README.md
Due: none

feat: add toggle component
  src/components/toggle/index.tsx
  src/css/components/toggle.less
Due: prettier --write

feature: add all scenarios category
  gatsby-node.ts
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

feature: add scenario slug to scenarios slug to routes
  gatsby-node.ts
  src/components/layout/index.tsx
  src/pages/index.tsx
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

feature: change directory structure for templates
  gatsby-node.ts
  src/templates/planetary-scenario/index.tsx
Due: prettier --write, tsc --noEmit

feature: move scenarios-menu template
  gatsby-node.ts
  src/templates/planetary-scenario.tsx
  src/templates/scenarios-menu/index.tsx
Due: prettier --write, tsc --noEmit

feat: add css reset and import it to the layout component
  package-lock.json
  package.json
  src/components/layout/index.tsx
Due: none

feat: add global.d.ts and declare css module type
  src/types/global.d.ts
Due: prettier --write, tsc --noEmit

feat: add new css generated page background
  src/components/background/background.module.css
  src/components/background/index.tsx
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/theme/variables.css
Due: none

feat: style the page header
  src/components/background/background.module.css
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/theme/headers.module.css
  src/theme/theme.css
Due: none

feat: verify lint staged works on css files
  src/theme/theme.css
Due: none

feat: run prettier on staged css files with lint staged
  .lintstagedrc
Due: none

feat: css tweaks
  src/components/layout/layout.module.css
  src/theme/headers.module.css
  src/theme/theme.css
Due: none

feat: style button component
  src/components/button/button.module.css
  src/components/button/index.tsx
Due: none

feat: style navigation menu component
  src/components/navigation-menu/index.tsx
  src/components/navigation-menu/navigation-menu-item.tsx
  src/components/navigation-menu/navigation-menu.module.css
Due: none

feat: style layout component
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/theme/headers.module.css
  src/theme/theme.css
Due: none

feat: make the background full screen
  src/components/background/background.module.css
Due: none

feat: style scenarios menu template
  src/templates/scenarios-menu/index.tsx
  src/templates/scenarios-menu/scenarios-menu.module.css
Due: none

feat: style landing page
  src/components/button/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.less)
  tsc --noEmit: any of: *.ts
