Repository TheHappyKoala/Harmony-of-the-Spheres: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

.lintstagedrc:

{
  "*.ts": ["prettier --write", "tsc --noEmit"],
  "*.css": ["prettier --write"]
}

feat: style the renderer component
  src/components/renderer/index.tsx
  src/components/renderer/renderer.module.css
Due: prettier --write

fix: fix scenario menu pages
  src/components/background/background.module.css
  src/components/button/button.module.css
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/components/navigation-menu/navigation-menu-item.tsx
  src/components/navigation-menu/navigation-menu.module.css
  src/components/tabs/index.tsx
  src/pages/index.module.css
  src/templates/planetary-scenario/index.tsx
  src/templates/planetary-scenario/simulation-controls/index.tsx
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
  src/templates/scenarios-menu/index.tsx
  src/templates/scenarios-menu/scenarios-menu.module.css
  src/theme/headers.module.css
  src/theme/theme.css
Due: prettier --write

feat: do some theme and layout refactoring
  src/components/layout/layout.module.css
  src/theme/headers.module.css
  src/theme/theme.css
Due: prettier --write

feat: refactor dropdown menu css
  src/components/camera-controls/index.tsx
  src/components/dropdown/dropdown.module.css
  src/components/dropdown/index.tsx
  src/templates/planetary-scenario/simulation-controls/index.tsx
Due: prettier --write

feat: make controls css a bit more responsive
  src/components/camera-controls/index.tsx
  src/components/dropdown/dropdown.module.css
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
  src/theme/controls.module.css
Due: prettier --write

fix: set footer height with the footer height theme variable
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
Due: prettier --write

fix: controls font size to 1.2 rem
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
Due: prettier --write

fix: set menu width with a variable
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
Due: prettier --write

feat: increase height of header and footer sections
  src/theme/theme.css
Due: prettier --write

feat: modifications to header tags styles
  src/components/camera-controls/index.tsx
  src/components/layout/index.tsx
  src/templates/planetary-scenario/index.tsx
  src/theme/headers.module.css
  src/theme/theme.css
Due: prettier --write

feat: change button component styles
  src/components/button/button.module.css
  src/components/layout/layout.module.css
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
  src/theme/theme.css
Due: prettier --write

feat: refactor menus and tabs
  src/components/button/button.module.css
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/components/navigation-menu/navigation-menu-item.tsx
  src/components/navigation-menu/navigation-menu.module.css
  src/components/tabs/index.tsx
  src/html.tsx
  src/templates/planetary-scenario/index.tsx
  src/templates/planetary-scenario/simulation-controls/index.tsx
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
  src/templates/scenarios-menu/index.tsx
  src/templates/scenarios-menu/scenarios-menu.module.css
  src/theme/theme.css
Due: prettier --write

feat: remove home and make some layout mods
  src/components/background/background.module.css
  src/components/background/index.tsx
  src/components/button/index.tsx
  src/components/layout/index.tsx
  src/components/layout/layout.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Due: prettier --write

feat: change width of scenario controls on large screens
  src/theme/theme.css
Due: prettier --write

feat: update typings for the toggle components props
  src/components/toggle/index.tsx
Due: none

feat: add toggle styles
  src/components/toggle/toggle.module.css
Due: prettier --write

feat: update styles for controls wrapper
  src/theme/controls.module.css
Due: prettier --write

feat: add slider component
  src/components/slider/index.tsx
  src/components/slider/slider.module.css
Due: prettier --write

feat: add integrator controls
  src/components/integrator-controls/index.tsx
  src/templates/planetary-scenario/simulation-controls/index.tsx
Due: none

feat: tweak time step values for the earth moon sun scenario
  src/scenarios/solar-system-moons-earth-moon-system.json
Due: none

feat: wrap planetary scenario markup in a fragment instead
  src/templates/planetary-scenario/index.tsx
Due: none

feat: refactor renderer component code
  src/components/renderer/index.tsx
  src/components/renderer/renderer.module.css
  src/components/tabs/index.tsx
  src/scene/scenes/index.ts
  src/state/index.ts
  src/templates/planetary-scenario/index.tsx
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
  src/utils/renderer-utils.ts
  src/utils/text-utils.ts
Due: prettier --write, tsc --noEmit

feat: refactor controls layout
  src/components/camera-controls/index.tsx
  src/components/dropdown/dropdown.module.css
  src/components/integrator-controls/index.tsx
  src/theme/controls.module.css
Due: prettier --write

feat: set overflow to auto for the content wrapper
  src/templates/planetary-scenario/simulation-controls/simulation-controls.module.css
Due: prettier --write

feat: add mass controls component
  src/components/mass-controls/index.tsx
  src/templates/planetary-scenario/index.tsx
Due: none

feat: add state boiler plate for modifying a mass
  src/state/creators.ts
  src/state/index.ts
  src/types/actions.ts
Due: prettier --write, tsc --noEmit

fix: be consistent with the naming
  src/state/creators.ts
  src/state/index.ts
  src/state/types.ts
  src/types/actions.ts
Due: prettier --write, tsc --noEmit

feat: add massBeingModified property to scenarios
  src/scenarios/choreographies-figure-eight.json
  src/scenarios/earth-vs-rings-of-saturn.json
  src/scenarios/solar-system-moons-earth-moon-system.json
  src/scenarios/solar-system-planets.json
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: enable modifying various mass properties
  src/components/integrator-controls/index.tsx
  src/components/mass-controls/index.tsx
  src/physics/masses/index.ts
  src/physics/utils/elements.ts
  src/physics/utils/misc.ts
  src/scenarios/choreographies-figure-eight.json
  src/scenarios/earth-vs-rings-of-saturn.json
  src/scenarios/solar-system-moons-earth-moon-system.json
  src/scenarios/solar-system-planets.json
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
  src/templates/planetary-scenario/index.tsx
  src/types/physics.ts
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: use tabs to group mass controls
  src/components/mass-controls/index.tsx
  src/components/mass-controls/mass-controls.module.css
  src/components/tabs/index.tsx
Due: prettier --write

feat: update mass of mass only when the update mass button has been clicked
  src/components/mass-controls/index.tsx
Due: none

fix: map jpl coords to three coords
  src/hooks/useHydrateStore.ts
Due: prettier --write, tsc --noEmit

feat: enable deleting masses
  package-lock.json
  package.json
  src/components/camera-controls/index.tsx
  src/components/mass-controls/index.tsx
  src/components/mass-controls/mass-controls.module.css
  src/scenarios/solar-system-planets.json
  src/scene/controls/custom-orbit-controls.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
  src/state/creators.ts
  src/state/index.ts
  src/types/actions.ts
  src/types/global.d.ts
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

Create SECURITY.md
  SECURITY.md
Due: none
