Repository TheHappyKoala/Harmony-of-the-Spheres: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

.lintstagedrc:

{
  "*.ts": ["prettier --write", "tsc --noEmit"],
  "*.less": "prettier --write"
}

feat: add text utils module
  src/utils/text-utils.ts
Due: prettier --write, tsc --noEmit

chore: keep each component in its own directory
  src/components/layout/layout.tsx
Due: none

chore: name the main component file index
  src/components/layout/index.tsx
Due: none

feat: add basic scenario menu setup
  gatsby-config.ts
  gatsby-node.ts
  src/components/navigation-menu/index.tsx
  src/components/navigation-menu/navigation-menu-item.tsx
  src/gatsby-types.d.ts
  src/scenarios/apophis-2029.json
  src/scenarios/figure-eight.json
  src/scenarios/galilean-moons.json
  src/scenarios/pentagram-of-venus.json
  src/scenarios/solar-system-planets.json
  src/scenarios/trappist-1.json
  src/templates/scenarios-menu.tsx
  src/types/scenario.ts
  tsconfig.json
Due: prettier --write, tsc --noEmit

feat: flesh out typescript types
  src/types/category.ts
  src/types/physics.ts
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: redux state management setup
  gatsby-browser.ts
  gatsby-ssr.ts
  src/state/creators.ts
  src/state/index.ts
  src/state/types.ts
  src/types/actions.ts
  wrap-with-provider.tsx
Due: prettier --write, tsc --noEmit

feat: create and use scenario template
  gatsby-node.ts
  src/components/renderer/index.tsx
  src/hooks/useHydrateStore.ts
  src/scenarios/apophis-2029.json
  src/scenarios/figure-eight.json
  src/scenarios/galilean-moons.json
  src/scenarios/pentagram-of-venus.json
  src/scenarios/solar-system-planets.json
  src/scenarios/trappist-1.json
  src/templates/scenario.tsx
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

fix: should be useHydrateStore and not useHydrateStory
  src/templates/scenario.tsx
Due: none

feat: add scene base class
  src/scene/scenes/index.ts
Due: prettier --write, tsc --noEmit

feat: add planetary scene class and use it
  src/components/renderer/index.tsx
  src/scene/scenes/PlanetaryScene.ts
Due: prettier --write, tsc --noEmit

feat: add manifestation manager and base class
  src/scene/manifestations/index.ts
  src/scene/manifestations/manifestation.ts
Due: prettier --write, tsc --noEmit

feat: get an animation loop going
  src/components/renderer/index.tsx
  src/scene/scenes/PlanetaryScene.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: remove scale from scenario data properties
  src/scenarios/solar-system-planets.json
  src/templates/scenario.tsx
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: draw bodies
  src/scene/manifestations/manifestation.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add vector class
  src/physics/utils/misc.ts
  src/physics/utils/vector.ts
Due: prettier --write, tsc --noEmit

feat: add public prefix for semtantic purposes
  src/physics/utils/vector.ts
Due: prettier --write, tsc --noEmit

feat: get the most basic simulation going
  package-lock.json
  package.json
  src/physics/integrators/euler.ts
  src/physics/integrators/index.ts
  src/physics/utils/vector.ts
  src/scene/index.ts
  src/scene/manifestations/manifestation.ts
  src/scene/scenes/planetary-scene.ts
  src/state/creators.ts
  src/state/index.ts
  src/templates/scenario.tsx
  src/types/actions.ts
  src/types/physics.ts
  tsconfig.json
Due: prettier --write, tsc --noEmit

feat: fontawesome setup
  src/css/fontawesome/less/_animated.less
  src/css/fontawesome/less/_bordered-pulled.less
  src/css/fontawesome/less/_core.less
  src/css/fontawesome/less/_fixed-width.less
  src/css/fontawesome/less/_icons.less
  src/css/fontawesome/less/_list.less
  src/css/fontawesome/less/_mixins.less
  src/css/fontawesome/less/_rotated-flipped.less
  src/css/fontawesome/less/_screen-reader.less
  src/css/fontawesome/less/_shims.less
  src/css/fontawesome/less/_sizing.less
  src/css/fontawesome/less/_stacked.less
  src/css/fontawesome/less/_variables.less
  src/css/fontawesome/less/brands.less
  src/css/fontawesome/less/fontawesome.less
  src/css/fontawesome/less/regular.less
  src/css/fontawesome/less/solid.less
  src/css/fontawesome/less/v4-shims.less
  src/css/fontawesome/webfonts/fa-brands-400.ttf
  src/css/fontawesome/webfonts/fa-brands-400.woff2
  src/css/fontawesome/webfonts/fa-regular-400.ttf
  src/css/fontawesome/webfonts/fa-regular-400.woff2
  src/css/fontawesome/webfonts/fa-solid-900.ttf
  src/css/fontawesome/webfonts/fa-solid-900.woff2
  src/css/fontawesome/webfonts/fa-v4compatibility.ttf
  src/css/fontawesome/webfonts/fa-v4compatibility.woff2
  src/css/index.less
Due: prettier --write

feat: add simulator play button
  src/components/button/index.tsx
  src/templates/scenario.tsx
Due: none

feat: refactor how we generate the category tree
  gatsby-node.ts
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

feat: add scenaru menu background images
  gatsby-node.ts
  src/css/index.less
  src/images/Solar System - Planets.jpg
  src/images/Solar System.jpg
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

feat: change component name
  src/templates/scenarios-menu.tsx
Due: none

feat: do some css, layout and design work
  gatsby-config.ts
  gatsby-node.ts
  src/components/layout/index.tsx
  src/components/renderer/index.tsx
  src/css/components/button.less
  src/css/components/layout.less
  src/css/components/navigation-menu.less
  src/css/components/renderer.less
  src/css/index.less
  src/css/jura/Jura-VariableFont_wght.ttf
  src/css/jura/OFL.txt
  src/css/jura/README.txt
  src/css/jura/static/Jura-Bold.ttf
  src/css/jura/static/Jura-Light.ttf
  src/css/jura/static/Jura-Medium.ttf
  src/css/jura/static/Jura-Regular.ttf
  src/css/jura/static/Jura-SemiBold.ttf
  src/css/pages/home.less
  src/css/templates/planetary-scenario.less
  src/css/templates/scenarios-menu.less
  src/images/Home.jpg
  src/pages/index.tsx
  src/physics/integrators/index.ts
  src/templates/planetary-scenario.tsx
  src/templates/scenarios-menu.tsx
  tsconfig.json
Due: prettier --write, tsc --noEmit

feat: do some more scenarios menu work
  gatsby-node.ts
  src/components/layout/index.tsx
  src/components/navigation-menu/index.tsx
  src/components/navigation-menu/navigation-menu-item.tsx
  src/css/components/layout.less
  src/css/components/navigation-menu.less
  src/css/index.less
  src/css/templates/scenarios-menu.less
  src/scenarios/choreography-figure-eight.json
  src/templates/scenarios-menu.tsx
Due: prettier --write, tsc --noEmit

feat: do some scenarios work
  src/scenarios/choreographies-figure-eight.json
  src/scenarios/solar-system-moons-earth-moon-system.json
  src/scenarios/solar-system-planets.json
Due: none

feat: add scene controls
  src/scene/controls/custom-orbit-controls.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: css refactoring
  src/components/layout/index.tsx
  src/css/components/layout.less
  src/css/components/navigation-menu.less
  src/css/components/tabs.less
  src/css/index.less
  src/css/pages/index.less
  src/css/templates/planetary-scenario.less
  src/css/templates/scenarios-menu.less
  src/css/theme/mixins.less
  src/css/theme/variables.less
  src/pages/index.tsx
  src/templates/planetary-scenario.tsx
  src/templates/scenarios-menu.tsx
Due: prettier --write

feat: add dropdown component
  src/components/dropdown/index.tsx
  src/css/components/dropdown.less
  src/css/index.less
Due: prettier --write

feat: refactor tabs and menu components
  src/components/layout/index.tsx
  src/components/navigation-menu/index.tsx
  src/components/navigation-menu/navigation-menu-item.tsx
  src/components/tabs/index.tsx
  src/css/components/layout.less
  src/css/components/navigation-menu.less
  src/css/components/tabs.less
  src/css/pages/index.less
  src/css/templates/planetary-scenario.less
  src/css/templates/scenarios-menu.less
  src/css/theme/mixins.less
  src/css/theme/variables.less
  src/pages/index.tsx
  src/templates/scenarios-menu.tsx
Due: prettier --write

feat: introduce camera controls
  src/components/camera-controls/index.tsx
  src/scene/scenes/planetary-scene.ts
  src/templates/planetary-scenario.tsx
Due: prettier --write, tsc --noEmit

feat: add manifestation trails
  src/scene/manifestations/manifestation.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add rotating reference frame control
  src/components/camera-controls/index.tsx
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add scene background
  src/scene/misc/background.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add star manifestation
  src/scene/manifestations/index.ts
  src/scene/manifestations/star.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add mass labels
  src/components/renderer/index.tsx
  src/scene/labels/index.ts
  src/scene/labels/labelCallbacks.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
Due: prettier --write, tsc --noEmit

feat: add runge kutta 4 integrator
  src/physics/integrators/index.ts
  src/physics/integrators/rk4.ts
Due: prettier --write, tsc --noEmit

fix: remove alert
  src/physics/integrators/index.ts
Due: prettier --write, tsc --noEmit

feat: add particles
  src/images/backgrounds/What If.jpg
  src/physics/particles/particle-system.ts
  src/physics/particles/particles-integrator.ts
  src/physics/utils/misc.ts
  src/scenarios/earth-vs-rings-of-saturn.json
  src/scene/particles/particles.ts
  src/scene/scenes/index.ts
  src/scene/scenes/planetary-scene.ts
  src/templates/planetary-scenario.tsx
  src/types/physics.ts
  src/types/scenario.ts
Due: prettier --write, tsc --noEmit

feat: add public for semantics
  src/scene/manifestations/index.ts
Due: prettier --write, tsc --noEmit
